<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App</title>
    </head>
    <body>
        {% include 'translation/_switcher.twig' %}
        {% block content %}{% endblock %}
    </body>
</html>
